body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    background-color: #EBEFBF;
    text-align: center;
    color: #000000;
}

body header{
    background-color: #CEB5A7;
}

#h1{
    height: 50px;
    background-color: #ADAABF;
}